body{
	margin: 0;
	padding: 0;
	font-size: 1em;
}

/*Start CSS on Main Page*/

/*Navigation bar same on all pages*/

header{
	height: 120px
	width: 100%;
	background-color: white;
	position: sticky;
	top: 0;
	display: flex;
	height: 120px;
	justify-content: right;
}

nav{
	margin-bottom: 40px;
	text-align: right;
	flex: 1;
	width: auto;
}

.logo img{
	height: 100px;
	margin-top: 10px;
	margin-left: 30px;
}

.liste{
	list-style-type: none;
	display: inline-flex;
	margin-top: 50px;
	justify-content: flex-end;
}

.liste a{
	margin-right: 110px;
	font-size: 1.6em;
	width: 14.28%;
	color: black;/*#427a9d;*/
	text-decoration: none;
	font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.liste a:visited{
	color: black;
}

.liste a:hover{
	border-bottom: thick line #2e4352;
	border-style: solid;
	border-top: none;
	border-left: none;
	border-right: none;
}

.liste a:active{
	color: black;
}

.active{
	border-style: solid;
	border-bottom: thick line #2e4352;
	border-top: none;
	border-left: none;
	border-right: none;
}

.settings{
	display: -webkit-inline-box;
	margin-top: 40px;
}

.settings img{
	grid-area: flagg;
	width: 50px;
	margin-right: 50px;
}

.settings a{
	font-size: 1.3em;
	margin-right: 35px;
	text-decoration: none;
}

/*Profile menu bar*/

.section-profile-menu{
	height: calc(100vh - 120px);
	margin-top: 0px;
	width: 200px;
	justify-content: center;
	background-color: #999999;
}

.profile-student-pic{
	height: 200px;
	display: flex;
}

.profile-info-pic{
	height: 50px;
	width: auto;
	margin-top: 20px;
	margin-left: 30px;
}

.profile-liste{
	margin-top: 50px;
	margin-right: 50px;
	list-style: none;
	justify-content: center;
}

.profile-liste p{
	text-align: center;
}

/*Breadcrumbs*/
.breadcrumbs{
	width: 100%;
}

ul.breadcrumb {
  padding: 10px 16px;
  list-style: none;
  background-color: #eee;
}

ul.breadcrumb li {
  display: inline;
  font-size: 18px;
}

ul.breadcrumb li+li:before {
  padding: 8px;
  color: black;
  content: "/\00a0";
}

ul.breadcrumb li a {
  color: #0275d8;
  text-decoration: none;
}

ul.breadcrumb li a:hover {
  color: #01447e;
  text-decoration: underline;
}

/*Content main page*/

.section-home-page{
	background-color: #CCCCCC;
	display: flex;
	height: calc(100vh - 120px);
}

.section-home-content{
	width: auto;
	display: flex;
	flex: 1;
	flex-wrap: wrap;
	overflow-y: scroll;
}

.box{
	border-radius: 5px;
	width: 400px;
	height: 470px;
	display: flex;
}

.box-left-home{
	margin-right: 50px;
	margin-left: 50px;
	text-align: center;
}

.box-center-home{
	display: flex;
	justify-content: center;
	text-align: center;
}

.box-right-home{
	margin-left: 50px;
	margin-right: 150px;
}

.inner-wrapper{
 	width: 90%;
	height: 90%;
	margin: auto;
	background-color: #999999;
}

.box-bottom-home{
	width: 100%;
	height: 300px;
}

.inner-wrapper-calendar{
	width: 92%;
	height: 100%;
	margin: auto;
	background-color: #999999;
}

/*Content on Course Page*/

.section-courses{
	background-color: #CCCCCC;
	display: flex;
	height: calc(100vh - 120px);
}

.course-content{
	width: auto;
	display: flex;
	flex: 1;
	flex-wrap: wrap;
	overflow-y: scroll;
}

.inner-wrapper-course{
	width: 90%;
	height: 90%;
	margin: auto;
	background-color: #999999;
	text-decoration: none;
	color: black;
}

.box-left-course{
	display: flex;
	text-align: center;
}

.box-course a{
	display: inline-block;
	width: 30px;
	height: 30px;
}

.box-single-course{
  display: flex;
	justify-content: center;
	width: 50%;
	height: 20%;
}

/*Content on Profile Page*/

.section-profile{
	background-color: #CCCCCC;
	display: flex;
	height: calc(100vh - 120px);
}

.profile-content{
	width: auto;
	display: flex;
	flex: 1;
	flex-wrap: wrap;
	overflow-y: scroll;
}

.box-left-profile{
	display: flex;
	justify-content: center;
	width: 49%;
	height: 800px;
}

.box-right-profile{
  display: flex;
	justify-content: center;
	width: 49%;
	height: 800px;
}

/*Content on Settings*/

.section-settings{
	background-color: #CCCCCC;
	display: flex;
	height: calc(100vh - 120px);
}

.settings-content{
	width: auto;
	display: flex;
	flex: 1;
	flex-wrap: wrap;
	overflow-y: scroll;
}

.box-settings{
  display: flex;
	justify-content: center;
	width: 90%;
	height: 20%;
}

.box-settings p{
	font-size: 1.2em;
}

.settings-pic{
	height: 50px;
	width: auto;
}

.slidecontainer {
  width: 100%;
}

.slider {
  -webkit-appearance: none;
  appearance: none;
  width: 100%;
	height: 15px;
  border-radius: 5px;
  background: #d3d3d3;
  outline: none;
  opacity: 0.7;
  -webkit-transition: .2s;
  transition: opacity .2s;
}

.slider:hover {
  opacity: 1;
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 25px;
	height: 25px;
  border-radius: 50%;
  background: black;
  cursor: pointer;
}

.slider::-moz-range-thumb {
  width: 25px;
	height: 25px;
  border-radius: 50%;
  background: black;
  cursor: pointer;
}

/*School */

.section-school{
	background-color: #CCCCCC;
	display: flex;
	height: calc(100vh - 120px);
}

.school-content{
	width: auto;
	display: flex;
	flex: 1;
	flex-wrap: wrap;
	overflow-y: scroll;
}

.box-left-school{
	display: flex;
	justify-content: center;
	width: 100%;
	height: 100%;
}
